<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新书推荐</title>
    <link rel="stylesheet" href="/static/css/bootstrap-3.min.css">
    <link rel="stylesheet" href="/static/css/AdminLTE.css">
    <link rel="stylesheet" href="/static/css/pagination.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-3.js"></script>
    <script src="/static/js/pagination.js"></script>
    <script src="/static/js/my.js"></script>
</head>
<body class="hold-transition skin-red sidebar-mini" style="background-image: url(/static/image/777.jpg);">
    <br/>
    <div align="center" style="top:50%">
        <img src="/static/image/huanyin.png">
    </div>
</body>
</html>